.formulario-container {
  color: white;
  padding: 0, auto;
  margin: 0, auto;
  border-radius: 5px;
  width: 300px;
  right: 100;
  position: relative;
  padding: 10px;
   font-size: clamp(12px, 2vw, 20px); /* Tamaño de texto adaptable */
}
.login-title {
  color: white;
}

.formulario-login{
 background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 280px;
  height: 140px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 27px;
  right: 0;
  padding: 20px 20px;
  font-size: 12px;
}

.input {
 font-size: 12px;
  width: 90%;
  padding: 10px 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

//Hacemos la pagina responsive
@media (max-width: 1024px) { 

  .formulario-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0, auto;
    margin: 0, auto;
    border-radius: 5px;
    width: 100px;
    right: 100;
    padding: 10px;
 
}


.login-title {
  color: green;



}


}
.botones-container{

  display: flex;
  justify-content: space-around;
}
.entrar{

  width: 20%;
  padding: 8px;
  margin: 20 auto;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.entrar:hover {
  color: black;
  background-color: darkgreen;
}




.salir {
 
  width: 20%;
  padding: 8px;
  border-radius: 5px;

  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

 }

.salir:hover {
  background-color: darkred;
  color: black;
}

.message{
  color: green bold;
}


@media (max-width: 600px){
  .formulario-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
    padding: 0, auto;
    margin: 0, auto;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
  }

}

