.formulario-container {
  border-radius: 5px;
  position: relative;
  padding: 10px;
   font-size: clamp(12px, 2vw, 20px); /* Tama침o de texto adaptable */
}
.login-title {
  color: white;
}

.formulario-login{

width: clamp(240px, 50vw, 240px); /* Ancho flexible */
height: 140px;
padding: clamp(16px, 3vw, 32px); /* Espaciado adaptable */
border-radius: clamp(8px, 2vw, 16px); /* Bordes redondeados */
box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.5); /* Sombra verde difuminada */
background-color: rgba(0, 0, 0, 0.6);
margin: auto;
backdrop-filter: blur(5px);
border:  none;
position: absolute;
right: -6em;
font-size: 12px;
}

.input {

 width: 95%; /* Que ocupen todo el ancho del formulario */
  font-size: clamp(14px, 1.5vw, 12px); /* Tama침o adaptable */
  padding: clamp(8px, 1vw, 16px);
border-radius: clamp(5px, 1vw, 10px);
  border: 2px solid #ccc;
    margin-bottom: 10px;
   background-color: #f8f8f8;
   color: black;
}


.botones-container{

  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.entrar, .salir{

box-shadow: 0 0 5px 5px rgba(0, 255, 0, 0.5); /* Sombra verde difuminada */
  position: relative;
font-size: clamp(10px, 2vw, 12px); /* Tama침o de fuente adaptable */
  padding: clamp(8px, 1vw, 16px) clamp(12px, 2vw, 24px); /* Espaciado adaptable */
  width: clamp(80px, 20vw, 100px); /* Ancho din치mico */
  height: clamp(30px, 5vw, 40px); /* Alto din치mico */
  border-radius: clamp(5px, 1vw, 15px); /* Bordes redondeados responsivos */
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.entrar:hover {
  color: white;
  background-color: darkgreen;
}

.salir:hover {
  color: white;
  background-color: darkgreen;
}
.message{
  color: red;
  position: relative;
 bottom: 10px;
}




/* 游님游댳 Modo Movil */
@media (max-width: 768px)  {

.formulario-login{
  position: relative;
  right: 0;
  
  }


}





