.formulario-container {
 
 color: white;
  border-radius: 5px;
  position: relative;
  padding: 10px;
   font-size: clamp(12px, 2vw, 20px); /* Tama침o de texto adaptable */
}

.register-title {
  color: white;
}

.formulario-register{


width: clamp(250px, 50vw, 240px); /* Ancho flexible */
height: 175px;
padding: clamp(16px, 3vw, 32px); /* Espaciado adaptable */
border-radius: clamp(8px, 2vw, 16px); /* Bordes redondeados */
box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.5); /* Sombra verde difuminada */
background-color: rgba(0, 0, 0, 0.6);
margin: auto;
backdrop-filter: blur(5px);
border:  none;
position: absolute;
font-size: 12px;
 }

.input {
 width: 95%; /* Que ocupen todo el ancho del formulario */
  font-size: clamp(14px, 1.5vw, 20px); /* Tama침o adaptable */
  padding: clamp(8px, 1vw, 16px);
border-radius: clamp(5px, 1vw, 10px);
  border: 2px solid #ccc;
    margin-bottom: 10px;
   background-color: #f8f8f8;
}


.botones-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.registrar, .cerrar{
 
font-size: clamp(14px, 2vw, 18px); /* Tama침o de fuente adaptable */
  padding: clamp(8px, 1vw, 16px) clamp(12px, 2vw, 24px); /* Espaciado adaptable */
  width: clamp(100px, 20vw, 100px); /* Ancho din치mico */
  height: clamp(30px, 5vw, 40px); /* Alto din치mico */
  border-radius: clamp(5px, 1vw, 15px); /* Bordes redondeados responsivos */
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.registar, .cerrar:hover {
  color: black;
  background-color: darkgreen;
}

.error-message {
  position: relative;
  bottom: 5px;
  color: red;
  margin-top: 10px;
}

/* 游님游댳 M칩viles  */
@media (max-width: 768px)  {
.formulario-register{
 position: relative;
  }

