@keyframes aparecer {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.frutas{

     width: 90%;
     display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px auto;
        max-width: 1920px; /* Ajusta para móviles */
        gap: 50px; /* Menos espacio entre frutas */
}
/* 🖥️🔹 Monitores grandes y 4K */
@media (min-width: 1920px) {
 .frutas {

        
animation: aparecer 1s ease-in-out;
     right: 180px;
     width: 100%;
     height: 100%;
     display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 50px auto;
        max-width: 1920px; /* Ajusta para móviles */
        gap: 50px; /* Menos espacio entre frutas */
    }



   }

/* 💻🔹 Laptops y pantallas Full HD */
@media (max-width: 1920px) and (min-width: 1367px) {
.frutas {

        
animation: aparecer 1s ease-in-out;
     width: 100%;
     height: 100%;
     display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 50px auto;
        max-width: 1920px; /* Ajusta para móviles */
        gap: 10px; /* Menos espacio entre frutas */
    }


 
}

/* 🖥️🔹 Laptops pequeñas y tablets grandes */
@media (max-width: 1366px) and (min-width: 1025px) {
.frutas {

        
animation: aparecer 1s ease-in-out;
     position: relative;
     right: 60px;
     display: grid;
        grid-template-columns: repeat(6, 1fr);
        margin: 0px auto;
        max-width: 1200px; /* Ajusta para móviles */
    }


  
}

/* 📟🔹 Tablets medianas */
@media (max-width: 1024px) and (min-width: 769px) {
    .frutas {
        
      animation: aparecer 1s ease-in-out;  
     display: grid;
        grid-template-columns: repeat(4, 1fr);
 justify-content: center;
        align-items: center;
        max-width: 700px; /* Reduce el ancho para centrar más */
        gap: 10px; /* Menos espacio entre elementos */
    }

  
  
}

/* 📱🔹 Móviles grandes */
@media (max-width: 768px) and (min-width: 601px) {
  .frutas {

      animation: aparecer 1s ease-in-out;  
        grid-template-columns: repeat(4, 1fr);
        max-width: 660px;
        gap: 10px;
    }

} 
/* 📱🔹 Móviles pequeños */
@media (max-width: 600px) {
  .frutas {

      animation: aparecer 1s ease-in-out;  
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
margin: 50 auto;

  position: relative;
        display: grid;
gap: 20px;
        max-width: 40px; /* Ajusta para móviles */
    }
 
}

/* 📱🔹 Móviles ultra pequeños (Ej: iPhone SE, 320px) */
@media (max-width: 400px) {
.frutas {


      animation: aparecer 1s ease-in-out;  
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
margin: 50 auto;

  position: relative;
        display: grid;
gap: 10px;
        max-width: 40px; /* Ajusta para móviles */
    }

   
}



