@keyframes slideDown {
  from {
    transform: translateY(-100px); /*  Empieza fuera de la pantalla */
    opacity: 0;
  }
  to {
    transform: translateY(0); /*  Llega a su posici贸n normal */
    opacity: 1;
  }
}



.navbar {
  animation: slideDown 1s ease-in-out; /*  Aplica la animaci贸n */
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1); /*  Fondo semitransparente */
  padding: 0 30px;
  margin: 5px;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px); /*  Efecto desenfoque */
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}

/*  Ocultar navbar en el primer scroll */
.navbar.hidden {
  display: none;
}

/*  Cambiar navbar en la segunda secci贸n */
.navbar.scrolled {
  display: flex;
  background-color: #000 !important; /*  Fondo s贸lido */
  backdrop-filter: none !important; /*  Quitar desenfoque */
  border: none !important; /*  Quitar borde */
}

.cerrar-sesion{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}


nav h1: {
  transition: 0.5s ease-in-out;
}
nav h1:hover {

  color: green;

}



