
html, body, #root, .App {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
  max-width: none;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
html{
  scroll-snap-type:  y mandatory;
  overflow-y: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.App{ width: 100%;
  height: 100vh;
  padding: 0rem;
  text-align: center;
}
  .content-1{
    
    background-image: url("/vegetales.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
@keyframes aparecer {
    from {
        top: -50px;
        opacity: 0;
    }
    to {
        top: 70;
        opacity: 1;
    }
}
  .titulo{

  animation: aparecer 1.1s ease-in-out forwards; /* 🔥 Aplica la animación */
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 90px;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.3s ease-in-out;
    border: none;
  }
  .titulo:hover{
    color: green;
    font-size: 95px;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
  }




/* 🖥️🔹 Monitores grandes y 4K */
@media (min-width: 1920px) {
  .titulo{

  font-size: 180px;
  }
  .titulo:hover{
    font-size: 185px;
  }
}

/* 💻🔹 Laptops y pantallas Full HD */
@media (max-width: 1920px) and (min-width: 1367px) {
  .titulo{
    font-size: 120px;
  }
  .titulo:hover{
    font-size: 125px;
  }
  
}

/* 🖥️🔹 Laptops pequeñas y tablets grandes */
@media (max-width: 1366px) and (min-width: 1025px) {
    .titulo{
    font-size: 90px;
  }
  .titulo:hover{
    font-size: 95px;
  }

}

/* 📟🔹 Tablets medianas */
@media (max-width: 1024px) and (min-width: 769px) {
  .titulo{
    position: relative;
    top: 250px;
    font-size: 70px;
  }
  .titulo:hover{
    position: relative;
    top: 250px;
    font-size: 75px;
  }
  
  
  
  
}

/* 📱🔹 Móviles grandes */
@media (max-width: 768px) and (min-width: 601px) {
  .titulo{
    display: none;
    font-size: 45px;
  }
  .titulo:hover{
    font-size: 50px;
  }
}

/* 📱🔹 Móviles pequeños */
@media (max-width: 600px) {

  .titulo{
    display: none;
    font-size: 30px;
  }
  .titulo:hover{
    font-size: 35px;
  }
  
}

/* 📱🔹 Móviles ultra pequeños (Ej: iPhone SE, 320px) */
@media (max-width: 400px) {
  
  .titulo{
    display: none;
    font-size: 20px;
  }
  .titulo:hover{
    font-size: 25px;
  }
  
}



